<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Brown Laundry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0BA35811C76F3C100D0FD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BA359A1C76F3C100D0FD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BA35A51C76F3C100D0FD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
